---
import Container from "./Container.astro";
---

<section>
    <Container>
        <div class="p-[--card-padding] overflow-hidden lg:aspect-video flex rounded-[--card-border-radius] bg-gray-100 dark:bg-[--card-dark-bg]">
            <div class="max-w-4xl w-full h-fit m-auto space-y-12">
                <img src="/product-screenshot.webp" alt="tailus product screenshot" loading="lazy" width="2481" height="1626">
            </div>
        </div>
        <div class="mt-12 grid sm:grid-cols-2 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
            <div>
                <h2 class="text-gray-950 dark:text-white text-2xl font-semibold">A data-first approach to in-house AI and LLMs</h2>
            </div>
            <div class="space-y-3">
                <p class="text-gray-600 dark:text-gray-400">
                    Data is the lifeblood of AI systems. 
                    <span class="text-gray-950 dark:text-white font-medium">
                      At Anarchy Labs, we believe in the power of open-source and the freedom to innovate without restrictions.
                    </span> 
                    Our mission is to democratize AI, providing tools and resources for developers and researchers to build, fine-tune, and deploy advanced models.
                  </p>
                  <p class="text-gray-600 dark:text-gray-400">
                    Join us in advancing collective intelligence and embracing technology as a force for positive change.
                  </p>            </div>
        </div>
    </Container>
</section>