---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import {softGradientVariant as card} from "@tailus/themer-card"

import { GrDeploy } from "react-icons/gr";
import { BsSliders } from "react-icons/bs";
import { LuScale3D } from "react-icons/lu";
import { BsBank } from "react-icons/bs";
import { MdManageHistory } from "react-icons/md";

---

<section id="features" class="scroll-mt-24">
    <Container>
        <div class="space-y-4 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:space-y-0 sm:gap-4">
            <div class={cn(card.outer)}>
                <div class={cn(card.inner, "flex flex-col justify-between h-full")}>
                    <div className="flex justify-center items-center h-32">
                        <GrDeploy className="w-24 h-24" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Easy Model Deployment</h3>
                        <p class="text-gray-600 dark:text-gray-400">Deploy models seamlessly with our robust hosting infrastructure.</p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer)}>
                <div class={cn(card.inner, "h-full flex flex-col justify-between")}>
                    <div className="flex justify-center items-center h-32">
                        <BsSliders className="w-24 h-24" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Custom Fine-Tuning</h3>
                        <p class="text-gray-600 dark:text-gray-400">Fine-tune models to your specific needs with minimal effort.</p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer)}>
                <div class={cn(card.inner, "h-full flex flex-col justify-between")}>
                    <div className="flex justify-center items-center h-32">
                        <LuScale3D className="w-24 h-24" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Scalable Solutions</h3>
                        <p class="text-gray-600 dark:text-gray-400">Scale your models effortlessly with our load-balancing features.</p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer, "sm:col-span-2")}>
                <div class={cn(card.inner, "flex flex-col justify-between h-full")}>
                    <div className="flex justify-center items-center h-32">
                        <div class="overflow-x-auto lg:overflow-visible py-6 relative bg-white border flex items-center justify-center dark:border-info-400/20 dark:bg-gray-950/25">
                            <div class="absolute -inset-1 flex justify-between">
                                <div class="flex flex-col justify-between">
                                    <div class="size-2 rounded-full border border-info-500 bg-white"></div>
                                    <div class="size-2 rounded-full border border-info-500 bg-white"></div>
                                </div>
                                <div class="flex flex-col justify-between">
                                    <div class="size-2 rounded-full border border-info-500 bg-white"></div>
                                    <div class="size-2 rounded-full border border-info-500 bg-white"></div>
                                </div>
                            </div>
                            <div class="relative flex gap-2 *:size-8 *:border *:border-gray-950/5 dark:*:border-white/5">
                                <BsBank className="w-24 h-24" />
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Enhanced Governance & Collaboration</h3>
                        <p class="max-w-lg text-gray-600 dark:text-gray-400">Collaborate with your team using our integrated tools. Feels like Git.</p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer, "sm:row-start-2 lg:row-start-auto")}>
                <div class={cn(card.inner, "flex flex-col justify-between h-full")}>
                    <div className="flex justify-center items-center h-32">
                        <MdManageHistory className="w-24 h-24" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Comprehensive Data Management</h3>
                        <p class="text-gray-600 dark:text-gray-400">Manage and augment your datasets with ease and precision.</p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</section>